<h1> Edit exisiting article </h1>

<form action ="/articles/<%=@article.id%>" method ="post" >
	<input type ="hidden" name ="authenticity_token" value="<%= form_authenticity_token %>">
	<input type ="hidden" name ="_method" value ="patch">
	<label> Title </label><br>
	<input type ="text" name ="article[title]"><br>
	<label>Description </label><br>
	<textarea name="article[description]" ></textarea><br>
	<input type ="submit" value="Update article">
</form>