<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Home</title>
</head>
<body>
	<div class="center jumbotron">
  <h1>blog me</h1>
	<%= link_to 'Sign up now', signup_path, class: "btn btn-default btn-lg btn-xlg" %> 
</div>


</body>
</html>