<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Home</title>
</head>
<body>
	<h1>Hello homepage </h1>

	<%= link_to 'Blog Me', articles_path %> | <%= link_to 'About',about_path%>

	<%=image_tag("candy.jpg")%>
	
</body>
</html>